@font-face {
    font-family: MyFont; /* chosen name font*/ 
    src:url(Straw\ Milky.otf); /*link of url of font file */ 
  } 

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: MyFont; 
     color: #b5a17f;  
     background-image: url('Winnie.jpg');
 }

 h2 {
    color: #d8b8b0; 
 }

 .top-right-button {
    position: absolute; 
    top: 10px; 
    right: 10px 
    background-color: 181, 161, 127; 
    padding: 10px;
    text: 16px; 
    border-radius: 5px; 
}

.important {
    color: #d8b8b0; 
    background-color: white; 
    border-style: solid; 
    border-radius: 4px; 
}

