@font-face {
    font-family: MyFont; /* chosen name font*/ 
    src:url(Straw\ Milky.otf); /*link of url of font file */ 
  } 

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: MyFont; 
     color: #b5a17f;  
     background-image: url('Winnie.jpg');
 }

 h2 {
    color: #d8b8b0; 
 }

 .top-right-button {
    position: absolute; 
    top: 10px; 
    right: 10px 
    background-color: 181, 161, 127; 
    padding: 10px;
    text: 16px; 
    border-radius: 5px; 
}

.important {
    color: #d8b8b0; 
    background-color: white; 
    border-style: solid; 
    border-radius: 4px; 
}

 .buttons {
    text-align: center;
}

.image-button { 
    display: inline-block; 
    background-color: #d8b8b0;
    color: rgb(182, 59, 59); 
    font-size: 16px; 
    padding: 12px 18px; 
    margin: 10px; 
    border-radius:8px; 
    text-decoration: none;
    font-weight: bold; 
    transition: 0.3s; 
}

/* seperately shows pictures */
content {
    display: none; 
    margin-top: 20px; 
}

.content:target {
    display: block; 
}
